body{
margin: 0%;
background-image: url("background.jpg");
background-size: 100%;
}
h1{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.box{
    position: absolute;
    padding: 20px;
    text-align: center;
    left: 50%;
    color: black;
    border-radius: 10px;
    top: 50%;
    transform: translate(-50%, -50%);

}
select{
    width: 100px;
    float: right;
    border-radius: 1px;
}
.select{
    background: linear-gradient(#008AA8, white, #008AA8);
    padding: 10px;
    box-shadow: inset 0 0 1em black, 0 0 3em white;
    border-radius: 10px;
    border: solid 1px black;
}
.select:hover{
    transition: 600ms;
    box-shadow: inset 0 0 1em white, 0 0 3em black;
}

.submit{
    padding: 10px;
    width: 180px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.submit:hover{
    background-color: #06c5f0;
    transition: 600ms;
    box-shadow: inset 0 0 1px white, 0 0 3em white;
}
.btn{
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 150px;
    text-transform: uppercase;
}
.btn:hover{
    background-color:#06c5f0;
    transition: 600ms;
    cursor: pointer;
    box-shadow: inset 0 0 1px white, 0 0 3em white;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
p{
    font-size: 17px;
}
/* Desenvolvido por David */ 